@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.homeDivi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
  padding: 10px;
  margin-bottom: 3rem;
}

.headerLogo {
  width: 80%;
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: 3rem;
}

.logo {
  width: 20vh;
  margin-bottom: 4vh;
  z-index: 100;
}



.cuerpo {
  width: 100%;
  height: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(252, 250, 250);
  background-size: all;
}

.imgFooter {
  width: 34vh;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 0;
}



.login2 {
  max-width: 95vw;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  z-index: 100;
}


.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  position: relative;
  z-index: 100;
}

.input-wrapper {
  position: relative;
  width: 85vw;
}


.input1 {
  width: 85vw;
  height: 6vh;
  border-radius: 0.3rem;
  border-style: none;
  text-align: center;
  font-size: 2.3vh;
  display: flex;
  padding: 1rem;
  position: relative;
  z-index: 50;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.root {
  display: flex;
  justify-content: center;
}

.buttonSignIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 6vh;
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
  transition: 0.5s;
  border: none;
  background-size: 200% auto;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 0 20px #eee;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  z-index: 50;
}

.buttonSignIn:hover {
  background-position: right center;
  text-decoration: none;
}

.buttonRegister {
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: #03002b;
  font-size: 1em;
}

.registerText {
  text-align: center;
}

.text2 {
  font-size: 1em;
  font-weight: 600;
  color: #03002b;
  text-decoration: none;
  z-index: 50;
}

.text1 {
  font-size: 1em;
  font-weight: 500;
  color: #03002b;
  text-decoration: none;
  z-index: 50;
}

.doggy {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

hr {
  border: 1px #81a8c9;
  width: 22vw;
  z-index: 50;
  border-style: solid;
  margin-top: -1.3vh;
}

.acomodo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconoEmail {
  z-index: 100;
  position: absolute;
  height: 50%;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

}

.iconoPasswordEye {
  z-index: 100;
  position: absolute;
  height: 30%;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.iconoPassword {
  z-index: 100;
  position: absolute;
  height: 50%;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.imgForHomeLeft {
  display: none;
}

.imgForHomeRight {
  display: none;
  position: absolute;
  z-index: 200;
  width: 70vh;
  bottom: 2vh;
  right: -60vh;
  animation-name: bounce;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}


.login2 p {
  color: #03002b;
  font-weight: 500;
  font-size: 1em;
  margin-top: -1.3vh;
}

.google {
  width: 100%;
  display: flex;
  justify-content: center;
}

.iconoGoogle {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 100;
  margin-top: 0.9em;

}

#circle {
  z-index: 0;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  top: 1.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*aqui va el css de register*/

.fullBodyOfRegister {
  width: 100%;
  height: 100vmax;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(252, 250, 250);
  background-size: cover;
  padding-bottom: 8vh;
}



.registerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7vh;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  padding-bottom: 4vh;
  height: 90%;
}

.infoForm {
  width: 90%;
}

.headRegister {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  z-index: 90;
}


.logo2 {
  width: 20vh;
  margin-bottom: 2vh;
}

.toAlignSignUpAndForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
}

.signUp {
  letter-spacing: 0.5vw;
  padding-bottom: 0.6vh;
  text-align: center;
  margin-top: 0.3vh;
  font-size: 1.6em;

}

.underline-title {
  background: linear-gradient(to right, rgb(156, 225, 235), rgb(3, 23, 206));
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 25vw;
}




.formRegister {
  background: white;
  width: 80vw;
  border-radius: 0.7rem;
  position: relative;
  padding: 5% 2% 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  z-index: 100;
}



.input2 {
  width: 100%;
  height: 4vh;
  border-radius: 0.3rem;
  border-bottom-style: dotted;
  border-right: none;
  border-left: none;
  border-top: none;
  text-align: left;
  font-size: 1em;
  display: flex;
  padding: 1rem;
  position: relative;
  z-index: 50;
  margin-bottom: 3vh;
}

.infoForm label {
  font-size: 1em;
  font-weight: 500;
}

.buttonsRegisterForRow {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin-top: 1.6vh;
  z-index: 100;
}

.buttonSignUp {
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
  transition: 0.5s;
  background-size: 200% auto;
  border: none;
  border-radius: 21px;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
  color: #ffffff;
  height: 6vh;
  margin: 0;
  width: 15vmax;
  font-weight: 600;
  z-index: 100;
}

.manchaRegister {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.return {
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
  transition: 0.5s;
  background-size: 200% auto;
  border: none;
  border-radius: 21px;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
  color: #ffffff;
  height: 6vh;
  margin: 0;
  width: 15vmax;
  font-weight: 600;
  z-index: 100;
}

.forgotPassword {
  background-color: transparent;
  border-style: none;
  color: rgb(29, 29, 29);
  font-weight: 700;
}

.imgForRegisterLandPage {
  display: none;
}

#secretText {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: -1rem;
  color: rgb(150, 7, 7);
}

#emptyInput {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.8rem;
  color: rgb(150, 7, 7);
}

.textDisplay {
  font-weight: 800;
  color: #065991;
  text-transform: uppercase;
}

.red {
  border-color: #d41062;
  border-width: 0.3rem;
  border-style: solid;
}

.manchaRegisterBajo {
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;

}

.imgForHome {
  display: none;
}

.upBackgroundHome {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 0;
  right: 0;
  opacity: 0.9;
}

.multiPets {
  display: none;
}

.upperBackground2 {
  display: none
}



@media screen and (min-width: 1024px) and (orientation: landscape) {




  .cuerpo {
    height: 110vh;
    background-image: url('../img/wallpaperHome1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imgFooter {
    width: 38vh;
    display: none;
    position: absolute;
    top: -3vh;
    z-index: 0;
    animation-name: bounce;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    bottom: 70%
  }

  .mainBox {
    background-color: #ffffff;
    border-radius: 2vh;
    padding: 3vw 2vw 2vw 2vw;
    box-shadow: rgba(50, 50, 93, 0.40) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
    top: 0vw;
    left: -23vw
  }

  .login2 {
    max-width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 100;
  }

  .input-wrapper {
    width: 35vw;
    height: 5vh;
  }


  .input1 {
    width: 35vw;
    height: 5vh;
  }

  .buttonSignIn {
    width: 35vw;
    height: 5vh;
  }

  hr {
    border: 1.3px #81a8c9;
    width: 10vw;
    border-style: solid;
  }

  #circle {
    box-shadow: rgba(50, 50, 93, 0.9) 0px 9px 27px -9px, rgba(0, 0, 0, 0.8) 0px 7px 16px -8px;
  }

  .imgForHomeLeft {
    display: flex;
    position: absolute;
    z-index: 200;
    width: 60vh;
    right: -40vw;
    animation-name: bounce;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    bottom: 1vw;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }


  .imgForHomeRight {
    display: none;
    position: fixed;
    z-index: 200;
    width: 50vh;
    bottom: 2vh;
    animation-name: bounce;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }



  .doggy {
    position: absolute;

  }

  .logo {
    width: 30vh;
    z-index: 100;
    position: relative;
    bottom: 0;
    left: -48vh;
  }

  .upBackgroundHome {
    display: none;
  }

  /* aqui va register */
  .fullBodyOfRegister {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(252, 250, 250);
  }

  .manchaRegister {
    display: none;
    left: 0;
    top: 0;
    width: 40vw;
    z-index: 0;
  }

  .manchaRegisterBajo {
    display: none;
    width: 60vw;
    position: absolute;
    bottom: 0vh;
    right: 0;
    z-index: 0;

  }

  .registerBody {
    position: absolute;
    right: 20vh;
    padding-top: 1vh;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    padding-bottom: 3vh;
    height: 60%;
  }

  .infoForm {
    width: 90%;
    height: 9vh;
    margin-bottom: 0.2vh;
  }

  .headRegister {
    width: 70%;
  }

  .formRegister {
    width: 42vw;
    height: 60vh;
    padding: 3% 2% 4% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    z-index: 100;
  }

  .signUp {
    font-size: 1.3em;
    text-transform: uppercase;
  }

  .input2 {
    width: 100%;
    height: 1vh;
    font-size: 0.8em;
    margin-bottom: 3vh;
    padding: 1rem;
  }


  .buttonsRegisterForRow {
    width: 80%;
    margin-top: 1.6vh;
  }

  .buttonSignUp {
    height: 5vh;
    width: 11vmax;
  }

  .return {
    height: 5vh;
    width: 11vmax;
  }



  .multiPets {
    width: 40vh;
    display: flex;
  }

  .logo2 {
    display: flex;
    width: 20%;
    position: absolute;
    right: -10%;
  }

  .imgForRegisterLandPage {
    display: flex;
    position: fixed;
    left: 0%;
    top: 0;
    height: 100%;
  }

  .upperBackground2 {
    display: flex;
    position: fixed;
    top: 0%;
    right: 0%;
  }

  .underline-title {
    background: linear-gradient(to right, rgb(156, 225, 235), rgb(3, 23, 206));
    height: 0.5vh;
    margin: -1.1rem auto 0 auto;
    width: 25vw;
  }

  .infoForm label {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}