 .fullBodyPost {
     width: 100%;
     overflow:hidden;
     min-height:100%;
     height: 100%;
     margin-top: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     background: rgb(255, 255, 255);
     background-size: cover;
 }

 .grandpaDivForPost {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: max-content;
     width: 100%;
     margin-top: 10vh;
 }

 .upperBackgroundPost{
    width: 70vw;
    position: fixed;
    top: 0;
    right: 0;
 }


 .photoForPost {
     width: 100px;
     height: 100px;
     border-radius: 100%;
     z-index: 0;
     border-width: 0.2rem;
     border-color: #fff;
     border-style: solid;
     object-fit: cover;
 }


 .buttonPost {
     background-image: linear-gradient(to right, #24C6DC 0%, #514A9D 51%, #24C6DC 100%);
     margin: 10px;
     padding: 5px 15px;
     text-align: center;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
     border-style: none;
     z-index: 100;
 }

 .buttonPost:hover {
     background-position: right center;
     /* change the direction of the change here */
     color: #fff;
     text-decoration: none;

 }

 .helloForPost {
     font-size: 1rem;
     font-weight: 700;
     top: 60%;
     z-index: 50;

 }

 .post-anteriores {
     margin: 15px;
     background-color: white;
     border-radius: 5px;
     padding: 15px;
     z-index: 1;
 }

 .textAreaPost {
     margin: 15px;
     z-index: 150;
 }

 .post {
     text-align: center;
     margin-bottom: 5%;
     z-index: 50;
 }

 #post {
     background: #FFFFFF;
     box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
     border-radius: 16px;
     height: 60%;
     border: 0;
     padding: 20px;
     text-align: center;
     z-index: 100;
     display: flex;
     flex-direction: column;
     gap: 2rem;
 }

 #downBackgroundPost {
     width: 80%;
     left: 0;
     bottom: 0;
     position: fixed;
     opacity: .8;
     z-index: 0;
 }



 .textAreaPost {
     z-index: 150;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
 }

 .prueba {
     width: 45vw;
     margin-bottom: 1rem;
     padding: 15px;
     background: #F6F6F6;
     border-radius: 8px;
 }

 .textEditPost {
     position: fixed;
     z-index: 200;
     top: 10%;
     left: 20%;

 }

 #inputPost {
     background-color: white;
     border-radius: 5px;
     width: 40vw;
     font-weight: bold;
     padding: 20px;
     border-style: dashed;
     border-color: rgb(218, 58, 170);
     box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
     border-width: 0.8vh;
 }

 #deletePost,
 #editPost {
     border-style: none;
     padding: 5px;
     border-radius: 2px;
     margin-bottom: 20px;
 }

 #deletePost {
     background-color: red;
     font-size: 0.9rem;
     border-style: none;
     padding: 0.6vw 2vw;
     border-radius: 0.6vh;
     box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
     margin: 0.4vw ;
 }

 #editPost {
     background-color: lightblue;
     font-size: 0.9rem;
     border-style: none;
     padding: 0.6vw 2vw;
     border-radius: 0.6vh;
     box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
     margin: 0.4vw ;
 }

 .likePost{
    font-size: 0.9rem;
     border-style: none;
     padding: 0.6vw 2vw;
     border-radius: 0.6vh;
     box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
     margin: 0.4vw ; 
     background-color: #5dcaef;
 }

 #dateOfPost,
 #youTag {
     font-style: italic;
     color: gray;
 }

 #dateOfPost {
     float: right;
 }

 #youTag {
     font-weight: normal !important;
 }

 #bodyOfEachPost {
     border-bottom: gray solid 1px;
 }

 #nameOfUserPost {
     font-weight: bold;
     text-transform: capitalize
 }

 #buttonPost,
 #buttonShowPost {
     float: left;
     margin-bottom: 10px;
    
 }

 .buttonSavePostNew {
     display: flex;
     z-index: 200;
     position: fixed;
     top: 60%;
     left: 30%;

 }


 .buttonCloseEditTextArea {
     display: flex;
     z-index: 200;
     position: absolute;
     top: 20%;
     left: 30%;
     width: 6vh;
 }

 .textEditPostDisplayNone {
     display: none;
 }

 .buttonSavePostNewDisplayNone {
     display: none;
 }

 .buttonCloseEditTextAreaDisplayNone {
     display: none;
 }

 .upperBackgroundProfile {
     width: 70vw;
     position: fixed;
     top: 0;
     right: 0;
 }

 .pawBackgroundPost {
    width: 35vh;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.9;
}

 .multiAnimals {
     bottom: 0;
     z-index: 1;
     width: 30vh;
     position: absolute;
     margin-top: 10px;
 }

 .bannerPost {
     display: none;
 }

 @media screen and (min-width: 1024px) and (orientation: landscape) {


     #banner {
         display: flex;
         justify-content: center;
         width: 100%;
     }

     .bannerPost {
         display: block;
         z-index: 1;
         size: 100vw;
     }

     .upperBackgroundProfile {
         display: none;
     }

     .pawBackgroundPost {
         width: 40vh;
         position: fixed;
         bottom: 0;
         left: 0;
         opacity: 0.9;
     }

.upperBackgroundPost{
    width: 40vw;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    z-index: 0;
    opacity: 0.9;
 }
   
 .multiAnimals {
    bottom: 0;
    z-index: 0;
    width: 30vh;
    position: absolute;
    margin-top: 10px;
}
 }